body,html {
  font-family: monospace;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #f084b2;
}

p {
  font-size: medium;
}

span {
width: 40px;
height: 100px;
}

.title-item {
  background-color: #FFDE95;
  padding: 20px;
  text-align: center;
}

.footer-item {
  background-color: #FFDE95;
  padding: 20px;
  padding: 10px;
  text-align: center;
}

img {
  width: 100%;
}
.playlist-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 20px;
}

.playlist-tile {
background-color: #fff;
border: 1px solid #ddd;
border-radius: 8px;
margin: 10px;
padding: 10px;
width: 200px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
text-align: center;
cursor: pointer;
transition: transform 0.2s;
}

.playlist-tile:hover {
transform: scale(1.05);
}

.playlist-tile img {
width: 100%;
border-radius: 8px;
}

.playlist-tile h3,
.playlist-tile p,
.playlist-tile span {
margin: 10px 0;
}

.heart-icon {
color: black;
cursor: pointer;
font-size: x-large;
}

.heart-icon.liked {
color: red;
cursor: pointer;
font-size: x-large;
}

.like-count {
color: purple;
font-size: 17px;
}
.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
background-color: #fff;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
max-width: 500px;
position: relative;
border-radius: 8px;
}

.close-button {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
cursor: pointer;
}

.close-button:hover,
.close-button:focus {
color: black;
}

#shuffle-button {
margin-top: 10px;
padding: 10px 20px;
background-color: #28a745;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

#shuffle-button:hover {
background-color: #218838;
}

#modal-songs {
  padding: 5px;
 
}

.child {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: left;
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
}

/* CSS */
.home {
margin-top: 10px;
padding: 10px 20px;
background-color: #b91ac5c3;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

#random-container {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding: 20px;

flex-direction: column;
justify-content: center;
align-items: center;
}

#random-playlist-container {
background-color: #fff;
border: 1px solid #ddd;
border-radius: 8px;
margin: 10px;
padding: 10px;
width: 200px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
text-align: center;
cursor: pointer;
transition: transform 0.2s;
height: 50%;
}

#random-songs-container {
background-color: #fff;
border: 1px solid #ddd;
border-radius: 8px;
margin: 10px;
padding: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
text-align: center;
cursor: pointer;
transition: transform 0.2s;

display: flex;
flex-direction: column;
}

.div2{
display: flex;
align-items: center;
justify-content: space-between;
/* flex-direction: column; */
}

.div3{
display: flex;
align-items: center;
flex-direction: column;
}

.song-cover {
margin: 10px;
width: auto; 
height: auto;
}

.song-details {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 10px;
}

.song-detail {
width: auto;
height: auto;
border: 1px solid black;
}

.song-modal-flex {
display: flex;
flex-direction: column;
}

.song-modal-img{
background-color: purple;
}

.song-img.detail{
background-color: #FFDE95;
}

song-img-text {
background-color: green;
}
